.filtering{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.filtering-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}